<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sean.blog.module.blog.mapper.ArticleRelatedMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_article_related (article_id, related_article_id, created_by, created_at, updated_by, updated_at)
        VALUES (#{articleId}, #{relatedArticleId}, #{createdBy}, NOW(), #{updatedBy}, NOW())
    </insert>

    <update id="softDeletePair">
        UPDATE t_article_related
        SET is_deleted = 1, updated_by = #{updatedBy}, updated_at = NOW()
        WHERE is_deleted = 0
          AND ((article_id = #{articleId} AND related_article_id = #{relatedArticleId})
            OR (article_id = #{relatedArticleId} AND related_article_id = #{articleId}))
    </update>

    <update id="softDeleteAllByArticleId">
        UPDATE t_article_related
        SET is_deleted = 1, updated_by = #{updatedBy}, updated_at = NOW()
        WHERE is_deleted = 0
          AND (article_id = #{articleId} OR related_article_id = #{articleId})
    </update>

    <select id="findRelatedArticleIds" resultType="long">
        SELECT related_article_id
        FROM t_article_related
        WHERE article_id = #{articleId} AND is_deleted = 0
    </select>

</mapper>
